
<div class="modal fade" id="addUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUtilityCompanyModalLabel">Add Prosumer</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="utilityID">Prosumer ID</label>
                <input formControlName="utilityID" type="text" class="form-control">
                </div>      
            <div class="form-group text-left">
              <label for="name">Name</label>  
                <input formControlName="name" type="text" class="form-control">          
            </div>
                      
            <div class="form-group text-left">
              <label for="coinsValue">Coins Balance</label>  
                <input formControlName="coinsValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="energyValue">Energy Value</label>  
                <input formControlName="energyValue" type="text" class="form-control">          
            </div>

            <div class="form-group text-left">
              <label for="energyUnits">Energy Units</label> 
              
              <div>
              <select name="energyUnits" formControlName="energyUnits">
                <option value="kwh">kWh</option>                
              </select>
              </div>              
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="addUtilityCompany(myForm);" type="submit" class="btn btn-success" data-dismiss="modal" style="background-color:#17252a"> Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="updateUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateUtilityCompanyModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="utilityID">Prosumer ID</label>
                <input [ngModel]="utilityID"formControlName="utilityID" type="text" class="form-control">            
            </div>          
            <div class="form-group text-left">
              <label for="name">Name</label>
                <input [ngModel]="name"formControlName="name" type="text" class="form-control">              
            </div>                                   
        </div>
        <div class="modal-footer">
          <button (click)="updateUtilityCompany(myForm)" type="submit" class="btn btn-success" data-dismiss="modal" style="background-color:#17252a">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="deleteUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteUtilityCompanyModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteUtilityCompany()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteUtilityCompany()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <br><br>
 <div class="row">
  <div class="table-users">
      <div class="header">Prosumers</div>
      <table cellspacing="0">
          <tr >
            
                <th class="bc">ID</th>
            
                <th class="bc">Name</th>            

                <th class="bc">Coins Balance</th>  

                <th class="bc">Energy Value</th>

                <th class="bc">Energy Units</th>

                <th class="bc">Actions</th>       
          </tr>
          <tr *ngFor="let utilityCompany of allUtilityCompanys">
          
                <td>{{utilityCompany.utilityID}}</td>
            
                <td>{{utilityCompany.name}}</td>

                <td>{{utilityCompany.coinsValue}}</td>

                <td>{{utilityCompany.energyValue}}</td>

                <td>{{utilityCompany.energyUnits}}</td>
           
            <td>

              <button (click)="getForm(utilityCompany.utilityID);" type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateUtilityCompanyModal">Update</button>

              <button (click)="setId(utilityCompany.utilityID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUtilityCompanyModal">Delete</button>

            </td>
          </tr>
      </table>
    
  </div>
  <br><br><br>
  <div class="col-md-12 text-center">
      <button (click)="resetForm()" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addUtilityCompanyModal"  style="background-color:#17252a">Add Prosumer</button>
    </div>
</div>