<nav class="navbar navbar-inverse navbar2">
  <div class="container">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navfont" href="#" style="font-size: 200%; font-family: 'Quantico';">S.O.L.A.I.R.E.</a>

    </div>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown navfontAbout">
            <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#" style="font-size: 110%;text-shadow: 2px 2px 2px #202020;">About Us
              <span class="caret navfont"></span></a>
            <ul class="dropdown-menu">

              <li><a [routerLink]="['/About']">About</a></li>
              <li><a [routerLink]="['/AllTransactions']">Blockchain</a></li>
            </ul>
          </li>

      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#" style="font-size: 110%; text-shadow: 2px 2px 2px #202020;">Participants
          <span class="caret navfont"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/Resident']">Consumer</a></li>
          <li><a [routerLink]="['/Bank']">Banks</a></li>
          <li><a [routerLink]="['/UtilityCompany']">Prosumer</a></li>

        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#"style="font-size: 110%; text-shadow: 2px 2px 2px #202020;">Transactions
          <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/TransactionRU']">Consumer and Prosumer</a></li>
          <li><a [routerLink]="['/TransactionRB']">Consumer and Bank</a></li>

        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#"style="font-size: 110%; text-shadow: 2px 2px 2px #202020;">Assets
          <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/Coins']">Coins</a></li>

          <li><a [routerLink]="['/Energy']">Energy</a></li>

          <li><a [routerLink]="['/Cash']">Cash</a></li>

        </ul>
      </li>



    </ul>
  </div>
  </div>
</nav>

<div class = "bodybackground">
  <router-outlet></router-outlet>
</div>
