

.navbar2 {
    background-color: #17252a;
    color: #DEF2F1;
}

.navfont {
    color:  #DEF2F1;
}

.navfontAbout {
    color:  #DEF2F1;
}

.navbar-inverse .navbar-nav>li>a {
    color:  #DEF2F1;
}


.bodybackground {
    /* background-color: #f0f8ff;  */
    text-align: center;

}

.navbar {
    min-height: 80px;
    border: 0px;
    box-shadow: 0 8px 6px -9px #999;
    border-radius: 0px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }