

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <div class="row">
      <h1>Consumer to Bank </h1>  
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"style="background-color:#17252a;color:white;"> <strong>Enter Transaction Info </strong>
        </div>
        <div class="panel-body">
          <form [formGroup]="myForm">

            <p><strong>Rate: {{bankCoinsPerCash}}  Coins / INR </strong></p>

            <p>Action:         
              <select name="actions" formControlName="action">
                <option value="getCash">Get Cash (INR) for Coins</option>
                <option value="getCoins">Get Coins for Cash (INR)</option>
              </select>
            </p>
            
            <p>Consumer: 
              <select name="residents" formControlName="formResidentID">
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
            </p>           

            <p>Bank: 
              <select name="banks" formControlName="formBankID" >
                <option *ngFor="let bank of allBanks" value="{{bank.bankID}}">{{bank.bankID}}</option>
              </select>
            </p>

            <p>Cash value (INR):
              <input formControlName="value" type="number" step='any' class="form-control inlineInput">
            </p>
  
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"style="background-color:#17252a;color:white"><strong>Transaction Executed</strong></div>
        <div class="panel-body">
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>             
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">  
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
    <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" style="background-color:#17252a" >Execute Transaction</button>
	  
    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>


</div>