

<div class="container">
  <div class="row">  
      <p> 
        A 
        </p>
      <p>
        In this journey, we are making an application using Hyperledger Composer which would create Participants (Residents, Banks, Utility Companies) on the network with their account balances, and to execute transactions between Residents, a Resident and Bank, and a Resident and Utility Company. The journey demonstrates atomic transaction between the participants and updates their balances as per the transaction. 
      </p>
      <p>
        The application uses an Angular framework for front-end and currently allows users to manually create the Participants and Execute transactions.  Currently this application demonstrates the basic idea of a decentralized energy network and can be expanded in numerous ways:  adding specific permissions and channel, setting up real time transactions among participants, and even integrating with IoT to read from power meter and distributing energy.  
      </p>
  </div> 

  
</div>